
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
    text-align: center;
}
section {

    padding: 1em;
    border: solid lightcoral;
    display: flex;
    justify-content: center;
    margin: 1em 2em ;
    
    
}

.radio{
color: rgb(46, 88, 4);
font-size: 70%;

}
.box{
    display:flex;
    justify-content: center;
}